.main-game {
    background-color: $background-secondary-color;
    color: $secondary-color;
    font-weight: 600;
}
.game-selection {
    height: 100%;
}
.game-selection-title {
    @extend .main-game;
    font-size: 2rem;
    height: 15%;
}
.game-option {
    position: relative;
    height: 70%;
}
.option-vs {
    @extend .main-game;
    font-size: 1rem;
    position: absolute;
    z-index: 2;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(to right, #e4ff89 50% ,  #abd4ff 50% 100%);
    border: 2px solid $secondary-color;
    animation: fadeIn 0.5s;
    transform: rotate(-30deg);
    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: scale(-0.2) rotate(230deg);
        }
        100% {
            opacity: 1;
            transform: scale(1) rotate(-30deg);
        }
    }
}
.start-btn {
    @extend .main-game;
    min-width: 100px;
    min-height: 47px;
    width: 20%;
    height: 12%;
    position: absolute;
    z-index: 1;
    top: 5%; 
    border: 2px solid $secondary-contrast-color;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    color: $secondary-contrast-color;
    &:hover {opacity: 0.7;}
    &:active {opacity: 1;}
    > #start-icon {
        width: 20px;
    }
}
.option-vs-text {
    font-size: 30px;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: $background-secondary-color;
    color: $secondary-color;
    transform: rotate(30deg);
}
.img-game-option {
    width: 100px;
    height: 100px;
}
.option {
    position: relative;
    width: 50%;
    height: 60%;
    border-radius: 15px;
    max-width: 320px;
    min-height: 200px;
}
.user-option {
    background-color: #abd4ff; //#abd4ff o #465aa8
    animation: initLeft 0.5s;
    @keyframes initLeft {
        0% {
            top: -30px;
        }
        100% {
            top: 0px;
        }
    }
}
.oponent-option {
    background-color: #e4ff89; //#e4ff89 o #e0ff73
    animation: initRight 0.5s;
    @keyframes initRight {
        0% {
            top: 30px;
        }
        100% {
            top: 0px;
        }
    }
}
.game-option-btn {
    bottom: -35px;
    position: absolute;
    width: 98%;
    z-index: 2;
}
.user-options-names {
    height: 15%;
    > .user-name {
        border-bottom: 2px solid #abd4ff;
        overflow: hidden; // tengo que revisar como hacer que el texto no se ponga en dos filas al achicar la pantalla
    }
    > .oponent-name {
        border-bottom: 2px solid #e4ff89;
    }
}
.option-name {
    color: $secondary-color;
    font-weight: 600;
    font-size: 1.7rem;
    width: 50%;
    max-width: 320px;
    text-align: center;
}

.dialog-change-name {
    &::backdrop {backdrop-filter: blur(5px);}
    height: 150px;
    border: 2px solid $secondary-color;
    border-radius: 10px;
    padding: 0px;
    width: 200px;
    background-color: $background-secondary-color;
    .modal-input-container {
        height: 60%;
        width: 100%;
        padding: 0px 12%;
        position: relative;
        .label-change-name {
            font-weight: 500;
            color: $secondary-color;
            z-index: 0;
            position: relative;
            top: 50%;
            opacity: 0;
            margin-left: 10px;
        }
    }
    #change-name-input {
        width: 100%;
        position: relative;
        z-index: 1;
        padding-left: 8px;
        outline: none;
        border-radius: 5px;
        &:invalid {box-shadow: none; border: 2px solid red}
        &:valid {box-shadow: none; box-shadow: none; border: 2px solid $secondary-color}
        &:focus {
            + .label-change-name {
                z-index: 1;
                transition: all 0.5s ease;
                opacity: 1;
                top: 0%;
            }
            &::placeholder {opacity: 0;} 
        }
    } 
    .modal-options {
        user-select: none;
        height: 40%;
        width: 100%;
        padding: 0px 10%;
        .icon-dialog {
            cursor: pointer;
            height: 40px;
            opacity: 0.6;
            &:hover {
                opacity: 1;
                &:active {border: 2px solid $secondary-color;}
            }
        }
    }
}