.flex {
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
    &-ai-fs {
        align-items: flex-start;
    }
    &-ai-fe {
        align-items: flex-end;
    }
    &-fd-c {
        flex-direction: column;
    }
    &-jc-se {
        justify-content: space-evenly;
    }
    &-jc-c {
        justify-content: center;
    }
    &-jc-fe {
        justify-content: flex-end;
    }
    &-fd-cr {
        flex-direction: column-reverse;
    }
}
.hidden {
    display: none;
    opacity: 0;
    z-index: -99;
}
.hidden-opa {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
@mixin mix-grid($colWidth, $rowsHeight, $rowGap, $colGap) {
    display: grid;
    grid-template-columns: $colWidth;
    grid-template-rows: $rowsHeight;
    grid-auto-rows: $rowsHeight;
    row-gap: $rowGap;
    column-gap: $colGap;
}
.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #376e70; // no es el $secondary-color porque tenía problemas de accesibilidad
    color: $main-color;
    user-select: none;
    transition: all 0.1s ease;
    cursor: pointer;
    font-weight: bold;
    &:active {
        border: 1px solid white;
    }
    &:hover {
        opacity: 0.8;
    }
    height: 30px;
    font-size: medium;
}

.tool-tip {
    z-index: 100;
    content: attr(data-info);
    white-space: nowrap;
    width: fit-content;
    position: absolute;
    top: 100%;
    color: $main-color;
    font-weight: bolder;
    padding: 5% 8%;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
}