// Fonts
$main-font: 'Palanquin Dark', sans-serif;
$secondary-font: 'Hind', sans-serif;

// Colors
$background-main-color: rgb(70, 142, 145);
$background-secondary-color: white;

$background-main-night-color: rgb(34, 73, 75);
$background-secondary-night-color: rgb(230, 224, 224);

$main-color: white;
$secondary-color: rgb(70, 142, 145);
