@charset "UTF-8";
:root {
  --background-main-color: rgb(70, 142, 145);
  --background-secondary-color: white;
  --main-color: white;
  --secondary-color: rgb(70, 142, 145);
  --secondary-contrast-color: #376e70;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body, h1 {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  min-width: 360px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.game-body {
  height: 80vh;
  background-color: var(--background-secondary-color);
}

p {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-fd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.hidden {
  display: none;
  opacity: 0;
  z-index: -99;
}

.btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #376e70;
  color: var(--main-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  font-size: medium;
}

.btn-main:active {
  border: 1px solid white;
}

.btn-main:hover {
  opacity: 0.8;
}

.tool-tip, .menu-nav > .dark-mode-btn:hover::before, .menu-logo:hover::before, .menu-mobile:hover::before {
  z-index: 100;
  content: attr(data-info);
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 100%;
  color: var(--main-color);
  font-weight: bolder;
  padding: 5% 8%;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 5px;
}

.menu-nav {
  height: 10vh;
  position: relative;
  background-color: var(--background-main-color);
  -webkit-box-shadow: 0px 3px #376e70;
          box-shadow: 0px 3px #376e70;
}

.menu-nav > .dark-mode-btn {
  cursor: pointer;
  height: 50px;
  width: auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.menu-nav > .dark-mode-btn:active {
  opacity: 1;
}

.menu-nav > .dark-mode-btn > #dark-mode-img {
  height: 100%;
  width: 100%;
}

.menu-logo {
  height: 50px;
  width: auto;
  margin-left: 10%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.menu-logo > #menu-logo {
  width: 100%;
  height: 100%;
}

.menu-mobile {
  width: 40px;
  margin-right: 10%;
  height: 50px;
  position: relative;
}

.menu-mobile span {
  display: block;
  width: 100%;
  height: 5px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu-mobile span::before {
  position: absolute;
  top: 0px;
  content: ' ';
  background-color: var(--main-color);
  height: 5px;
  width: 100%;
}

.menu-mobile.open > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-mobile.open > span:nth-child(2) {
  opacity: 0;
}

.menu-mobile.open > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.leaderboard {
  top: 10vh;
  position: absolute;
  width: 100%;
  background: var(--background-secondary-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 99;
}

.leaderboard > .leaderboard-title {
  font-size: 2.2rem;
  color: var(--secondary-color);
  height: 20%;
  padding: 2%;
  font-weight: bolder;
}

.leaderboard .leaderboard-container {
  height: 80%;
  width: 90%;
  color: var(--main-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  -ms-grid-rows: 30px;
      grid-template-rows: 30px;
  grid-auto-rows: 30px;
  row-gap: 3px;
  -webkit-column-gap: 3px;
          column-gap: 3px;
}

.leaderboard .leaderboard-container > span {
  padding-top: 5px;
  padding-left: 5px;
  height: 100%;
  width: 100%;
  background-color: var(--background-main-color);
  border-radius: 5px;
}

.leaderboard .leaderboard-container > span.leader-title {
  color: var(--secondary-color);
  background: var(--background-secondary-color);
  font-weight: bold;
}

.main-game, .game-selection-title, .option-vs, .start-btn {
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
  font-weight: 600;
}

.game-selection {
  height: 100%;
}

.game-selection-title {
  font-size: 2rem;
  height: 15%;
}

.game-option {
  position: relative;
  height: 70%;
}

.option-vs {
  font-size: 1rem;
  position: absolute;
  z-index: 2;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e4ff89), color-stop(50%, #abd4ff));
  background: linear-gradient(to right, #e4ff89 50%, #abd4ff 50% 100%);
  border: 2px solid var(--secondary-color);
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(-0.2) rotate(230deg);
            transform: scale(-0.2) rotate(230deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-30deg);
            transform: scale(1) rotate(-30deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(-0.2) rotate(230deg);
            transform: scale(-0.2) rotate(230deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-30deg);
            transform: scale(1) rotate(-30deg);
  }
}

.start-btn {
  min-width: 100px;
  min-height: 47px;
  width: 20%;
  height: 12%;
  position: absolute;
  z-index: 3;
  top: 5%;
  border: 2px solid var(--secondary-contrast-color);
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--secondary-contrast-color);
}

.start-btn:hover {
  opacity: 0.7;
}

.start-btn:active {
  opacity: 1;
}

.start-btn > #start-icon {
  width: 20px;
}

.option-vs-text {
  font-size: 30px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.img-game-option {
  width: 100px;
  height: 100px;
}

.option {
  position: relative;
  width: 50%;
  height: 60%;
  border-radius: 15px;
  max-width: 320px;
  min-height: 200px;
}

.user-option {
  background-color: #abd4ff;
  -webkit-animation: initLeft 0.5s;
          animation: initLeft 0.5s;
}

@-webkit-keyframes initLeft {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

@keyframes initLeft {
  0% {
    top: -30px;
  }
  100% {
    top: 0px;
  }
}

.oponent-option {
  background-color: #e4ff89;
  -webkit-animation: initRight 0.5s;
          animation: initRight 0.5s;
}

@-webkit-keyframes initRight {
  0% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}

@keyframes initRight {
  0% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}

.game-option-btn {
  bottom: -35px;
  position: absolute;
  width: 98%;
  z-index: 2;
}

.user-options-names {
  height: 15%;
}

.user-options-names > .user-name {
  border-bottom: 2px solid #abd4ff;
  overflow: hidden;
}

.user-options-names > .oponent-name {
  border-bottom: 2px solid #e4ff89;
}

.option-name {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.7rem;
  width: 50%;
  max-width: 320px;
  text-align: center;
}

.dialog-change-name {
  height: 150px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  padding: 0px;
  width: 200px;
  background-color: var(--background-secondary-color);
}

.dialog-change-name::-webkit-backdrop {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dialog-change-name::backdrop {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.dialog-change-name .modal-input-container {
  height: 60%;
  width: 100%;
  padding: 0px 12%;
  position: relative;
}

.dialog-change-name .modal-input-container .label-change-name {
  font-weight: 500;
  color: var(--secondary-color);
  z-index: 0;
  position: relative;
  top: 50%;
  opacity: 0;
  margin-left: 10px;
}

.dialog-change-name #change-name-input {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-left: 8px;
  outline: none;
  border-radius: 5px;
}

.dialog-change-name #change-name-input:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid red;
}

.dialog-change-name #change-name-input:valid {
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none;
  border: 2px solid var(--secondary-color);
}

.dialog-change-name #change-name-input:focus + .label-change-name {
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  top: 0%;
}

.dialog-change-name #change-name-input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.dialog-change-name #change-name-input:focus:-ms-input-placeholder {
  opacity: 0;
}

.dialog-change-name #change-name-input:focus::-ms-input-placeholder {
  opacity: 0;
}

.dialog-change-name #change-name-input:focus::placeholder {
  opacity: 0;
}

.dialog-change-name .modal-options {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 40%;
  width: 100%;
  padding: 0px 10%;
}

.dialog-change-name .modal-options .icon-dialog {
  cursor: pointer;
  height: 40px;
  opacity: 0.6;
}

.dialog-change-name .modal-options .icon-dialog:hover {
  opacity: 1;
}

.dialog-change-name .modal-options .icon-dialog:hover:active {
  border: 2px solid var(--secondary-color);
}

.game-start-container {
  height: 80vh;
  background-color: var(--background-secondary-color);
}

.game-start-container > .game-start-title {
  font-size: 2rem;
  height: 10%;
  color: var(--secondary-color);
  font-weight: 600;
  position: relative;
}

.game-start-container > .grid-name {
  padding: 1% 5%;
  height: 15%;
  color: #376e70;
  font-size: 2rem;
  font-weight: bold;
}

.game-start-container > .grid-name > .grid-name-txt {
  width: auto;
  border-radius: 10px;
  position: relative;
}

.game-start-container > .grid-name > .grid-name-txt.disabled {
  opacity: 0.4;
  font-size: 1.8rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.game-start-container > .grid-name > .grid-name-txt.active {
  font-size: 2.1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.game-start-container > .grid-name > .grid-user-name-txt {
  background-color: #abd4ff;
}

.game-start-container > .grid-name > .grid-oponent-name-txt {
  background-color: #e4ff89;
}

.game-start-container > .game-grid-container {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 60%;
}

.game-start-container > .game-grid-container > .game-grid {
  height: 350px;
  width: 350px;
  background-color: var(--background-main-color);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-auto-rows: auto;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
      grid-template-areas: ". . ." ". . ." ". . .";
}

.game-start-container > .game-grid-container > .game-grid > span {
  background-color: var(--background-secondary-color);
}

.game-start-container > .game-grid-container > .game-grid .clicked-cell-user {
  width: 100%;
  height: 100%;
  background-image: url(../icons/web-icon/cross-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.game-start-container > .game-grid-container > .game-grid .clicked-cell-oponent {
  width: 100%;
  height: 100%;
  background-image: url(../icons/web-icon/circle-black.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.end-game-dialog {
  background-color: var(--background-secondary-color);
  color: var(--secondary-color);
  font-weight: bold;
  position: relative;
}

.end-game-dialog > .end-game-title {
  text-align: center;
  width: 100%;
  height: 40%;
}

/* Deberíamos poner, que cuando se juega de 2 personas, el otro nombre esté al revés
así puede jugar cada uno en un lado de la pantalla */
.footer {
  -webkit-box-shadow: 0px -3px rgba(102, 189, 128, 0.747);
          box-shadow: 0px -3px rgba(102, 189, 128, 0.747);
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: rgba(123, 225, 153, 0.44);
  height: 10vh;
}

.footer .footer-text {
  color: rgba(0, 0, 0, 0.658);
  font-weight: bolder;
  font-size: 1.2rem;
}

.footer .social-footer {
  width: 20%;
  height: 30px;
}

.footer .social-footer #github-logo {
  width: auto;
  height: 100%;
}

.footer .social-footer #linkedin-logo {
  width: auto;
  height: 100%;
}

.footer-link-container {
  width: auto;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 1px 3px;
}

.footer-link-container.link-color {
  background-color: rgba(102, 189, 128, 0.747);
}
/*# sourceMappingURL=style.css.map */